{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Paycor Public API v2",
    "version": "",
    "description": "\nWelcome to Paycor's Public API! This document is a reference for the APIs Paycor has available, and acts as a complement to the \"Guides\" section.\n\n# Getting Started\n\n<strong>To learn more about getting started with Paycor's Public APIs, check out our <a href=\"/guides\">Guides.</a></strong>\n\n# GET, PUT, POST, PATCH\n\n* When requesting object, use GET endpoints. All list endpoints support paging, as described [in the other doc].\n* When creating an object, use POST endpoints. Your code will need to create an object and send it to Paycor in your API call request body as JSON. You can use the \"request sample\" body as a starting point. Our endpoints will return a reference to the created object (the ID and GET API URL) for your system.\n* When updating an object, you will use PUT endpoints. The general flow would be to: GET the object you want to update, modify the fields as desired, then PUT the object (as JSON in the request body) to our endpoints. Some fields like the object's ID cannot be updated because they are system-set.\n* PATCH - partial update to existing resource\n\n  # Error Handling\n\n* 202 - Response to a successful request that has been received and accepted for processing, but processing has not yet been completed\n* 400: Please consult the response text to correct your request information.\n* 401 with response \"Access denied due to missing subscription key\": Please include your APIM Subscription Key as header Ocp-Apim-Subscription-Key or querystring parameter subscription-key. \n* 401 with no response: Please ensure you included a valid & current Access Token in the Authorization header.\n* 403: Please ensure your Access Token's scope has all the relevant access you need, on the AppCreator Data Access screen.\n* 404: Please validate the API route you are using. If that is correct, one of your IDs most likely does not exist or is not in a valid state.\n* 429: Paycor implements rate limits for our Public API. Each customer (implemented via APIM subscription key) has a limited number of calls. The number of calls is counted across all APIs, not per individual API. Please use bulk endpoints where available and spread your calls over a wider timespan.\n  * The default rate limit is up to 1000 API calls per minute (total across all our Public APIs).\n* 500: Please contact Paycor. When you make a POST or PUT call and receive a 500, please do not retry the call automatically - this may result in double-posting. GETs can be safely retried.\n\n\n# IDs\n\n* ClientId = LegalEntityId\n* TenantId = CompanyId\n* EmployeeId is not visible in Paycor's UI, you must retrieve it from the Public API\n\n# Earnings, Deductions, Taxes\n\nThis section describes the domain model for Paycor's Earnings, Deductions, and Taxes. This will provide background for many paydata-related Public API endpoints.\n\nPaycor stores Earnings, Deductions, and Taxes each at three levels:\n* Global: Same data across all legal entities. Setup by Paycor for customers to choose from. Sample Codes (note these will not be setup on every Legal Entity):\n  * Earnings: REG, OT\n  * Taxes: FITWH, SOC, SOCER, OHCIN\n  * Deductions: 401k, KMat, H125, UWay\n* Legal Entity or Tenant: Codes setup & customized on the legal entity or Tenant level. Must be tied to a Global Code..\n  * Perform UI allows creating Deduction and Earning codes on Tenant level (under Configure Company nav menu). These will be returned by the Legal Entity Public API endpoints. \n* Employee: codes setup on a particular employee, tied to a Legal Entity-level or Tenant-level code\n  * Employee Earnings/Deductions/Taxes are applied during payroll. Many properties are inherited from the Legal Entity or Global levels, but some can be overridden. \n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://apis.paycor.com"
    }
  ],
  "paths": {
    "/v2/legalentities/{legalEntityId}/payrollhours": {
      "post": {
        "tags": [
          "Employee Payroll Hours"
        ],
        "summary": "Add Employee Hours And Earnings To Paygrid",
        "description": "Required parameters in body are: IntegrationVendor, ProcessId, LegalEntityId, EmployeeId, DepartmentCode, EarningCode, BusinessStartDate\n            \nData Access: Import Employee Hours and Earnings to Paygrid",
        "operationId": "Add Employee Hours And Earnings To Paygrid v2",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to set employee hours and earnings",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "replaceData",
            "in": "query",
            "description": "If \"True\" is passed for this query parameter and a matching ProcessID is passed, then the system will fully replace the entire record that was previously added.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          },
          {
            "name": "appendData",
            "in": "query",
            "description": "If \"True\" is passed for this query parameter, then the system will NOT replace any record that was previously added.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          }
        ],
        "requestBody": {
          "x-name": "importPayrollHours",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPayrollHours"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Employee Payroll Hours"
        ],
        "summary": "Get Imported Payroll Hours",
        "description": "Data Access= View Legal Entity Imported Payroll Hours",
        "operationId": "Get Imported Payroll Hours",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "processId",
            "in": "query",
            "description": "Optional Process ID to filter results",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "businessStartDate",
            "in": "query",
            "description": "Optional business start date to filter results",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "businessEndDate",
            "in": "query",
            "description": "Optional business end date to filter results",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "ArrayOfImportPayrollHours",
                    "wrapped": true
                  },
                  "items": {
                    "xml": {
                      "name": "ImportPayrollHours"
                    },
                    "$ref": "#/components/schemas/ImportPayrollHours"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/employees/{employeeId}/payrollhours": {
      "post": {
        "tags": [
          "Employee Payroll Hours"
        ],
        "summary": "Import Payroll Hours to Employee",
        "description": "Data Access: Import Payroll Hours to Employee",
        "operationId": "Import Payroll Hours to Employee v2",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to add the payroll hours",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeePayrollHours",
          "description": "Employee Hours object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeTimeCard"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/employees/{employeeId}": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get Employee by EmployeeID",
        "description": "Tip: you can retrieve a valid EmployeeID guid via endpoints like 'Get Employees by Legal Entity ID'\n            \nData Access: View Employee Information",
        "operationId": "Get Employee by EmployeeID v2",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the Employee you want to get",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: All, EmploymentDates, Status, Position, WorkLocation\n            \nData Access required\n            \nEmploymentDates = View Employee Employment Dates\n            \nStatus = View Employee Status\n            \nPosition = View Employee Position\n            \nWorkLocation = View Employee Work Location",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes"
              }
            },
            "x-position": 2
          },
          {
            "name": "emailType",
            "in": "query",
            "description": "Options to specify which email address to return. Work email type will be returned if none are specified: Home, Work",
            "schema": {
              "nullable": true,
              "$ref": "#/components/schemas/EmailTypeOptions"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an Employee object based on the EmployeeID, with some fields populated based on the Include parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeReturnItem"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/employees": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get Employees by Legal Entity ID",
        "description": "Data Access: View Legal Entity Employees",
        "operationId": "Get Employees by Legal Entity ID v2",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the legal entity for which you want to get employees",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: All, EmploymentDates, Status, Position, WorkLocation\n            \nData Access required\n            \nEmploymentDates = View Legal Entity Employees Employment Dates\n            \nStatus = View Legal Entity Employees Status\n            \nPosition = View Legal Entity Employees Position\n            \nWorkLocation = View Legal Entity Employees Work Location\n            ",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes2"
              }
            },
            "x-position": 2
          },
          {
            "name": "emailType",
            "in": "query",
            "description": "Options to specify which email address to return. Work email type will be returned if none are specified: Home, Work",
            "schema": {
              "nullable": true,
              "$ref": "#/components/schemas/EmailTypeOptions2"
            },
            "x-position": 3
          },
          {
            "name": "statusFilter",
            "in": "query",
            "description": "Option to filter by employment status.",
            "schema": {
              "$ref": "#/components/schemas/EmploymentStatus"
            },
            "x-position": 4
          },
          {
            "name": "employeeNumber",
            "in": "query",
            "description": "Option to filter by Employee Number.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Option to filter by Employee Last Name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "departmentCode",
            "in": "query",
            "description": "Option to filter by Department Code.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "workLocationName",
            "in": "query",
            "description": "Option to filter by Work Location Name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "workerCategory",
            "in": "query",
            "description": "Option to filter by Worker Category.",
            "schema": {
              "nullable": true,
              "$ref": "#/components/schemas/WorkerCategory"
            },
            "x-position": 9
          },
          {
            "name": "workCountryCode",
            "in": "query",
            "description": "Option to filter by Work Country Code.\n             This field only works when using the \"Unpaid\" WorkerCategory query param, av= https://www.iban.com/country-codes provides Alpha 2 code for each country that should be used for WorkCountryCode filter. The exceptions are 1) It is USA instead of US for United States and 2) It is UK instead of GB for United Kingdom\n             ",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of employees",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 11
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Employee objects based on the Legal Entity ID & Include parameter provided.\n            \nThis endpoint returns all Employee details (based on the Include parameter) except for SSN, DOB, and Emergency Contact. Those fields are not currently available in bulk.\nReturns 200 records per page to allow for ease of use for larger clients.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeReturnItem"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/{tenantId}/employees": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get Employees By TenantID",
        "description": "Data Access: View Tenant Employees",
        "operationId": "Get Employees by TenantID v2",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "description": "ID of the tenant for which you want to get employees",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "statusFilter",
            "in": "query",
            "description": "Option to filter by employment status",
            "schema": {
              "$ref": "#/components/schemas/EmploymentStatus"
            },
            "x-position": 2
          },
          {
            "name": "employeeNumber",
            "in": "query",
            "description": "Option to filter by Employee Number.\n            This filtering capability is currently non-functional and is expected to be released by mid-January 2025, sorry for the inconvenience at this time.\n            ",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Option to filter by Employee Last Name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "departmentCode",
            "in": "query",
            "description": "Option to filter by Department Code.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "workLocationName",
            "in": "query",
            "description": "Option to filter by Work Location Name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "jobCode",
            "in": "query",
            "description": "Option to filter by Job Code.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of employees",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of EmployeeList (with a subset of Employee fields) objects based on the TenantID provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeList"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/employeesIdentifyingData": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "GET Identifying Employee Data by Legal Entity Id",
        "description": "Data Access: View Legal Entity Employees Identifying Data\n            \nOptional Data Access: View Legal Entity Employees SSN and BirthDate",
        "operationId": "Get Identifying Employee Data by LEID v2",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the legal entity for which you want to get employees",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to filter employees by employment status: Active, Inactive",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes3"
              }
            },
            "x-position": 2
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of data",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Employee Identifying data objects for the Legal Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeesIdentifyingData"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/employees": {
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Create Employee",
        "description": "This immediately \"hires\" a new employee and associated Person in Paycor's system. There is no way to undo or reverse this operation.\nAfter creating an employee, please wait sixty seconds before using employeeId to call other endpoints.\n            \nData Access: Create Employee",
        "operationId": "Create Employee v2",
        "requestBody": {
          "x-name": "employeePost",
          "description": "Create Employee model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee2"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Returns a CreateOrUpdateResponse object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/onboardingemployees": {
      "get": {
        "tags": [
          "Employee Onboarding"
        ],
        "summary": "Get employees in the onboarding state",
        "description": "This endpoint allows partners to see the employees in the onboarding state.\n            \nData Access: View Legal Entity Onboarding Employees",
        "operationId": "Get employees in the onboarding state by Legal Entity ID v2",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the legal entity for which you want to get the employees in the onboarding state",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of Onboarding Employee records",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of Onboarding Employee items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfOnboardingEmployeeV2"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/employees/{employeeId}/punches": {
      "get": {
        "tags": [
          "Employee Time Card Punches"
        ],
        "summary": "Get Legal Entity Employees Time Card Punches by Employee ID",
        "description": "This pulls Punches data from Paycor's Perform Time system for one employee.\n* Clients *do not* need to run payroll before hours are returned by this endpoint.\n* Our Public API currently does not include whether the hours have already been Approved or not.\n* Time Card punches may be delayed by 20 minutes.\n            \nDate requirements=\n* Start Date and End Date must not be more than one year ago\n* Start Date must not be in future\n* Start date and end date range can be no greater than 90 days\n* Only dates will be considered, time will be set to 00=00=00 for start date and 23=59=59 for end date\n            \nData Access= View Employee Time Card Punches\n            \nEndpoint can only be used if the Client has the Perform Time Service",
        "operationId": "Get Employee Time Card Punches by Employee Id v2",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for which you want to get hours",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of Employee Time Cards. ContinuationToken would be valid only for 24 hours. If a call is made after 24 hours with old continuationToken, no data will be retrieved.",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Time Card collection, based on Legal Entity Id and provided date ranges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfTimeCardV4"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalEntities/{legalEntityId}/punches": {
      "get": {
        "tags": [
          "Employee Time Card Punches"
        ],
        "summary": "Get Legal Entity Employees Time Card Punches by Legal Entity ID",
        "description": "This pulls Punches data from Paycor's Perform Time system, for one legal entity.\n* Clients *do not* need to run payroll before hours are returned by this endpoint.\n* Our Public API currently does not include whether the hours have already been Approved or not.\n* Time Card hours may be delayed by 20 minutes.\n            \nDate requirements=\n* Start Date and End Date must not be more than one year ago\n* Start Date must not be in future\n* Start date and end date range can be no greater than 90 days\n* Only dates will be considered, time will be set to 00=00=00 for start date and 23=59=59 for end date\n\nData Access= View Employee Time Card Punches By Legal Entity Id\n            \nEndpoint can only be used if the Client has the Perform Time Service",
        "operationId": "Get Employee Time Card Punches by Legal Entity Id v2",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of legal entity for which you want to get hours",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of Employee Time Cards. ContinuationToken would be valid only for 24 hours. If a call is made after 24 hours with old continuationToken, no data will be retrieved.",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Time Card collection, based on Legal Entity Id and provided date ranges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfTimeCardV4"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/employees/{employeeId}/timeoffaccruals": {
      "get": {
        "tags": [
          "Employee Time Off Accruals"
        ],
        "summary": "Get Employee Accruals by EmployeeID",
        "description": "Data Access: View Employee Timeoff Accruals by Employee Id",
        "operationId": "Get Employee Accruals by Employee ID v2",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to get the Balances",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of Employee Balances",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of Employee Accrual Balances based on EmployeeID provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeBalance"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/timeoffaccruals": {
      "get": {
        "tags": [
          "Employee Time Off Accruals"
        ],
        "summary": "Get Employee Accruals by Legal Entity ID",
        "description": "Data Access: View Employee Timeoff Accruals by Legal Entity Id",
        "operationId": "Get Employee Accruals by Legal Entity ID v2",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Legal entity ID for which you want to get the balances",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of employee balances",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of Employee Accrual Balances based on legal entity ID provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeBalance"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/laborcodes": {
      "post": {
        "tags": [
          "Labor Codes"
        ],
        "summary": "Add Labor Code to Legal Entity",
        "description": "This immediately creates a new labor code related to a Legal Entity in Paycor's system. There is no way to undo or reverse this operation.\n* Required body attributes:\n    * LaborCategoryId\n    * Code\n    * LaborCodeName\n    \nTo make this call you will need the Job Costing or Workforce Management Service.\n\nData Access: Create and Update Labor Codes",
        "operationId": "Add Labor Code to Legal Entity",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to create Labor Code",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "laborCode",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LaborCode2"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Returns a CreateOrUpdateResponse object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponseExtended"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/departments": {
      "get": {
        "tags": [
          "Legal Entity Departments"
        ],
        "summary": "Get Legal Entity Departments by Legal Entity ID",
        "description": "Data Access: View Legal Entity Departments Information",
        "operationId": "Get Legal Entity Departments by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the Departments",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of Legal Entity Departments",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Legal Entity Departments based on the Legal Entity ID provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfDepartment"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Legal Entity Departments"
        ],
        "summary": "Update Legal Entity Department by Legal Entity ID",
        "description": "Updates existing Department for a Legal Entity.\n* The update of the Department will take at least 60 seconds to propagate through the system\n* When updating top level departments, payroll id should be used as parent id\n\nData Access: Create and Update Legal Entity Departments",
        "operationId": "Update Legal Entity Departments by Department ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to update the Department",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "updateDepartmentRequestBody",
          "description": "Update Department model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Department2"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Returns a resource reference of department",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfDepartment"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Legal Entity Departments"
        ],
        "summary": "Create Departments With Custom Fields by Legal Entity Id",
        "description": "Creates new Department With Custom Fields for a Legal Entity.\n* the newly created Department With Custom Fields will take at least 60 seconds to propagate through the system\n\nData Access= Create and Update Legal Entity Departments",
        "operationId": "Create Departments by Legal Entity Id",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to create the Departments With Custom Fields",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "departmentData",
          "description": "Create departmentWithCustomFields model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentsWithCustomFields"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Returns a CreateOrUpdateResponse object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/departments/{departmentId}": {
      "get": {
        "tags": [
          "Legal Entity Departments"
        ],
        "summary": "Get Legal Entity Department by Legal Entity ID and Department ID",
        "description": "Data Access: View Legal Entity Departments by Department Id",
        "operationId": "Get Legal Entity Departments by Legal Entity ID And ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the Departments",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "departmentId",
            "in": "path",
            "required": true,
            "description": "ID of the Department",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Legal Entity Department based on the Legal Entity ID and Department ID provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/laborcodewithrates": {
      "get": {
        "tags": [
          "Labor Codes With Rates"
        ],
        "summary": "Get Labor Codes With Rates by Legal Entity ID",
        "description": "Returns a paginated collection of labor codes with associated rates for a Legal Entity.\n            \nTo make this call you will need the Job Costing or Workforce Management Service.\n            \nData Access= View Labor Codes by Legal Entity Id",
        "operationId": "Get Labor Codes With Rates by Legal Entity Id",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to retrieve Labor Codes With Rates",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of results",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged collection of labor codes with rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLaborCodeWithRates"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Labor Codes With Rates"
        ],
        "summary": "Create Labor Code With Rates",
        "description": "This operation creates a labor code with associated rates for a Legal Entity in Paycor's system.\n* Required body attributes=\n    * LaborCategoryId\n    * LaborCodeName\n    * LaborCode\n    * Rates[].Action (permitted values= A, D)\n    * Rates[].EffectiveStartDate\n    * Rates[].Rate (required when Action is 'A')\n            \nTo make this call you will need the Job Costing or Workforce Management Service.\n            \nData Access= Create and Update Labor Codes",
        "operationId": "Import Labor Code With Rates",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "laborCodeWithRates",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LaborCodeWithRatesImportRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Labor code and all rates created successfully."
          },
          "207": {
            "description": "Labor code was created but some rates failed. Response body contains error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaborCodeWithRatesImportErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body. Response body contains validation error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/worklocations": {
      "put": {
        "tags": [
          "Legal Entity Work Locations"
        ],
        "summary": "Update Work Location By Legal Entity ID",
        "description": "Data Access: Update Legal Entity Work Location",
        "operationId": "Update Work Location",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the work locations",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "workLocationUpdate",
          "description": "Update Work Location model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkLocation"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Returns a resource reference for work location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Legal Entity Work Locations"
        ],
        "summary": "Get a list of Work Locations for a Legal Entity",
        "description": "Data Access: View Legal Entity Work Locations",
        "operationId": "Get Work Locations for a Legal Entity",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the work locations",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of work locations",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Work Locations for a Legal Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLegalEntityWorkLocationWithCustomFields"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/legalentities/{legalEntityId}/worklocations/{workLocationId}": {
      "get": {
        "tags": [
          "Legal Entity Work Locations"
        ],
        "summary": "Get a Work Location for a Legal Entity By Legal Entity ID and Work Location ID",
        "description": "Data Access: View Legal Entity Work Location",
        "operationId": "Get a Work Location by Legal Entity ID and ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the work location",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "workLocationId",
            "in": "path",
            "required": true,
            "description": "ID of the Work Location",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Legal Entity Work Location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalEntityWorkLocationWithCustomFields"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaycorError": {
        "type": "object",
        "description": "The Paycor Error model is used to catch exceptions and related contextual data for logging.",
        "additionalProperties": false,
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "Correlation ID will help identify specific transactions and logs when troubleshooting.  This is generated by Paycor systems.",
            "format": "guid",
            "example": "a8bc429b-b515-49a6-8874-8dd1d0c4b8ed"
          },
          "title": {
            "type": "string",
            "description": "Title is friendly overall information that can be displayed to users.",
            "nullable": true,
            "example": "Validation Error"
          },
          "detail": {
            "type": "string",
            "description": "Gives more information to describe what the error is.",
            "nullable": true,
            "example": "A validation error occurred. See the source for more information about specific errors."
          },
          "source": {
            "type": "object",
            "description": "Specific details of the fields that have errors (when applicable).",
            "nullable": true,
            "example": "\"source\": {\n    \"person.lastName\": \"string length to long\",\n    \"person.firstName\": \"must be unique\"\n}",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "PaycorRateLimitError": {
        "type": "object",
        "description": "The Paycor Error model is used to catch exceptions and related contextual data for logging.",
        "additionalProperties": false,
        "properties": {
          "message": {
            "type": "string",
            "description": "Message is friendly overall information that can be displayed to users.",
            "nullable": true,
            "example": "Rate limit is exceeded. Try again in 60 seconds."
          }
        }
      },
      "ImportPayrollHours": {
        "type": "object",
        "description": "Request body object for importing Payroll data into Paycor's Payroll system (not Time system).",
        "additionalProperties": false,
        "required": [
          "integrationVendor",
          "processId",
          "importEmployees"
        ],
        "properties": {
          "integrationVendor": {
            "type": "string",
            "description": "Required freeform field for tracking purposes. You can input your company or application name.",
            "minLength": 1
          },
          "processId": {
            "type": "string",
            "description": "Unique identifier of the transaction to prevent double-posting in Paycor's systems. \nPlease generate a new GUID (using any method) for every API call.\nUse the same GUID only when you want to replace existing data.",
            "format": "guid",
            "minLength": 1,
            "example": "b962666d-8c1e-46db-a750-53edfe25d47e"
          },
          "importEmployees": {
            "type": "array",
            "description": "List of Employees, with nested lists of Earnings, to import into Paycor's Paygrid system. ",
            "xml": {
              "wrapped": true
            },
            "items": {
              "xml": {
                "name": "ImportEmployee"
              },
              "$ref": "#/components/schemas/ImportEmployee"
            }
          }
        }
      },
      "ImportEmployee": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "employeeId",
          "importEarnings"
        ],
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier of the employee in Paycor's system. Generated by Paycor.",
            "format": "guid",
            "minLength": 1,
            "example": "52b68a4a-196c-0000-0000-0007d5268Sa2"
          },
          "importEarnings": {
            "type": "array",
            "description": "List of Earnings for this Employee.",
            "xml": {
              "wrapped": true
            },
            "items": {
              "xml": {
                "name": "ImportEarningExtended"
              },
              "$ref": "#/components/schemas/ImportEarningExtended"
            }
          },
          "baseDepartmentCode": {
            "type": "string",
            "description": "Department to be used when employee is being paid outside of their assigned payroll.  All scheduled earnings for this employee will be paid in this department.",
            "nullable": true
          }
        }
      },
      "ImportEarningExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ImportEarning"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "workLocationId": {
                "type": "string",
                "description": "Unique identifier of the work location in Paycor's system. Generated by Paycor. Optional parameter.",
                "format": "guid",
                "nullable": true,
                "example": "b962666d-8c1e-46db-a750-53edfe25d47e"
              }
            }
          }
        ]
      },
      "ImportEarning": {
        "type": "object",
        "description": "Employee-specific Payroll Import row for a specific working date range. Includes all Pay-related info.",
        "additionalProperties": false,
        "required": [
          "departmentCode",
          "earningCode",
          "businessStartDate",
          "payGroupId"
        ],
        "properties": {
          "departmentCode": {
            "type": "integer",
            "description": "Department code that the Hours should be paid under. You can use GET Legal Entity Departments to retrieve valid Code values.",
            "format": "int64",
            "example": 334
          },
          "earningCode": {
            "type": "string",
            "description": "Employee's earning Code. You can retrieve via Get Employee Earnings endpoints.",
            "minLength": 1,
            "example": "ERC300"
          },
          "earningHours": {
            "type": "number",
            "description": "Number of hours that Employee worked.",
            "format": "decimal",
            "example": 3.5
          },
          "earningAmount": {
            "type": "number",
            "description": "Dollar amount that Employee earned.",
            "format": "decimal",
            "nullable": true,
            "example": 150.57
          },
          "earningRate": {
            "type": "number",
            "description": "Dollar rate to assign to the earning.",
            "format": "decimal",
            "nullable": true,
            "example": 15.09
          },
          "businessStartDate": {
            "type": "string",
            "description": "Start date of TimeCard",
            "format": "date-time",
            "minLength": 1,
            "example": "2020-11-17T12:00:00.000Z"
          },
          "businessEndDate": {
            "type": "string",
            "description": "End date of TimeCard",
            "format": "date-time",
            "nullable": true,
            "example": "2020-11-22T12:00:00.000Z"
          },
          "dateWorked": {
            "type": "string",
            "description": "The date worked (associated with this earning).\nOptional. May be used by clients who have Workweek calculation feature enabled or by specific partner integrations.",
            "format": "date-time",
            "nullable": true,
            "example": "2022-01-22T12:00:00.000Z"
          },
          "laborCodes": {
            "type": "array",
            "description": "Optional. This allows supplying Labor Codes tied to this earning, used for Job Costing and other functionality.",
            "nullable": true,
            "xml": {
              "wrapped": true
            },
            "items": {
              "xml": {
                "name": "LaborCode"
              },
              "$ref": "#/components/schemas/LaborCode"
            }
          },
          "payGroupId": {
            "type": "string",
            "description": "Unique identifier of the pay group in Paycor's system. You can retrieve by calling 'Get Pay Groups by Legal Entity ID'",
            "format": "guid",
            "minLength": 1,
            "example": "71c9338a-4c28-0000-0000-0000712f0300"
          },
          "payNumber": {
            "type": "integer",
            "description": "Optional, defaults to 1.\nIndicates which paycheck for this employee the earning will appear on (essentially a sort order for the particular Employee).\nUse sequential values such as 1, 2, 3...",
            "format": "int32",
            "nullable": true
          },
          "clientDefinedValue": {
            "type": "string",
            "description": "Optional. This field allows passing in additional information used by specific partner integrations.",
            "nullable": true
          }
        }
      },
      "LaborCode": {
        "type": "object",
        "description": "Labor Code (also called Job Code) is used for Job Costing functionality.\nNote that both Category and Code are required in order to be unique.",
        "additionalProperties": false,
        "properties": {
          "category": {
            "type": "string",
            "description": "Job Category (also known as Labor Category) are used to organize Job Codes.\nThis feature is used for Job Costing support, which not all clients will use. Categories must be configured in advance by an HR Admin in Perform.\nYou can use GET Legal Entity Job Categories API to retrieve.",
            "nullable": true,
            "example": "Job"
          },
          "code": {
            "type": "string",
            "description": "Job Code is used for Job Costing functionality, to map paid amounts to a project.\nYou can use GET Legal Entity Job Codes APIs to retrieve. This field expects the Code, not the Labor Code Name.\nNot all clients will use Job Costing.",
            "nullable": true,
            "example": "WCH"
          }
        }
      },
      "EmployeeTimeCard": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmployeeTimeCardBase"
          },
          {
            "type": "object",
            "description": "Employee's timecard base object used for Payroll Api",
            "additionalProperties": false,
            "required": [
              "employeeId",
              "timeCardData"
            ],
            "properties": {
              "employeeId": {
                "type": "string",
                "description": "Unique identifier of the employee in the tenant. You can use any GET Employee endpoint to retrieve.",
                "format": "guid",
                "minLength": 1,
                "example": "b962666d-8c1e-46db-a750-53edfe25d47e"
              },
              "timeCardData": {
                "type": "array",
                "description": "List of the employee's earning rates, factors and amounts of type EmployeeEarningAmount.\n            ",
                "xml": {
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "TimeCardDataExtended"
                  },
                  "$ref": "#/components/schemas/TimeCardDataExtended"
                }
              }
            }
          }
        ]
      },
      "TimeCardDataExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeCardData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "workLocationId": {
                "type": "string",
                "description": "Unique identifier of the work location in Paycor's system. Generated by Paycor. Optional parameter.",
                "format": "guid",
                "nullable": true,
                "example": "b962666d-8c1e-46db-a750-53edfe25d47e"
              }
            }
          }
        ]
      },
      "TimeCardData": {
        "type": "object",
        "description": "Employee's timecard with information about earnings, start and end dates.",
        "additionalProperties": false,
        "required": [
          "earningCode",
          "earningHours",
          "businessStartDate"
        ],
        "properties": {
          "earningCode": {
            "type": "string",
            "description": "Employee's earning Code. You can retrieve via Get Employee Earnings endpoints.",
            "minLength": 1,
            "example": "ERC300"
          },
          "earningHours": {
            "type": "number",
            "description": "Employee's earning hours",
            "format": "decimal",
            "example": 3.5
          },
          "businessStartDate": {
            "type": "string",
            "description": "Start date of TimeCard",
            "format": "date-time",
            "minLength": 1,
            "example": "2020-11-17T12:00:00.000Z"
          },
          "businessEndDate": {
            "type": "string",
            "description": "End date of TimeCard",
            "format": "date-time",
            "nullable": true,
            "example": "2020-11-22T12:00:00.000Z"
          }
        }
      },
      "EmployeeTimeCardBase": {
        "type": "object",
        "description": "Employee's timecard base object used for Payroll Api",
        "additionalProperties": false,
        "required": [
          "integrationVendor",
          "processId",
          "departmentCode"
        ],
        "properties": {
          "appId": {
            "type": "string",
            "description": "Optional field that can be used for tracking purposes. Not required for payroll processing. ",
            "format": "guid",
            "nullable": true,
            "example": "763a5661-b518-0000-0000-000014e00100"
          },
          "integrationVendor": {
            "type": "string",
            "description": "Required freeform field for tracking purposes. You can input your company or application name.",
            "minLength": 1
          },
          "processId": {
            "type": "string",
            "description": "Unique identifier of the transaction to prevent double-posting in Paycor's systems. \nPlease generate a new GUID (using any method) for every API call.",
            "format": "guid",
            "minLength": 1,
            "example": "b962666d-8c1e-46db-a750-53edfe25d47e"
          },
          "legalEntityId": {
            "type": "integer",
            "description": "Unique identifier of the Legal Entity in Paycor's system.",
            "format": "int32",
            "example": 100289
          },
          "departmentCode": {
            "type": "integer",
            "description": "Department code that the Hours should be paid under. You can use GET Legal Entity Departments to retrieve valid Code values. ",
            "format": "int64",
            "example": 334
          },
          "jobCode": {
            "type": "string",
            "description": "JobCode parameter is not currently used - included for future functionality. ",
            "nullable": true
          }
        }
      },
      "EmployeeReturnItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Employee"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "email": {
                "nullable": true,
                "$ref": "#/components/schemas/WorkEmailExample"
              }
            }
          }
        ]
      },
      "WorkEmailExample": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Email"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "type": {
                "$ref": "#/components/schemas/EmployeeEmailType"
              }
            }
          }
        ]
      },
      "EmployeeEmailType": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "Work"
        ],
        "enum": [
          "Work"
        ]
      },
      "Email": {
        "type": "object",
        "description": "The Email model represents Email information.",
        "additionalProperties": false,
        "properties": {
          "type": {
            "description": "Enumeration of valid email type values.",
            "example": "Home",
            "$ref": "#/components/schemas/EmailType"
          },
          "emailAddress": {
            "type": "string",
            "description": "Email Address of the person.",
            "nullable": true,
            "example": "abc@email.com"
          }
        }
      },
      "EmailType": {
        "type": "string",
        "description": "Enumeration of valid Email Type values.",
        "x-enumNames": [
          "Home",
          "Work"
        ],
        "enum": [
          "Home",
          "Work"
        ]
      },
      "Employee": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmployeeBase"
          },
          {
            "type": "object",
            "description": "The Employee model represents all Employee related information.\n Provides links to the Employee's associated Person, Legal Entity, Department, Earning, Deduction, Tax, Direct Deposit, Pay Rate and Custom Field information.",
            "additionalProperties": false,
            "properties": {
              "positionData": {
                "description": "Data including the employee's position of type EmployeePositionData.\n            ",
                "nullable": true,
                "$ref": "#/components/schemas/EmployeePositionData"
              },
              "employeeNumber": {
                "type": "string",
                "description": "Unique number of the employee in the tenant. Generated by Paycor.\n            ",
                "nullable": true,
                "example": "12345ABC"
              },
              "workCountryCode": {
                "type": "string",
                "description": "Provides Alpha 2 code for each country that should be used for WorkCountryCode filter.\nThe exceptions are 1) It is USA instead of US for United States and 2) It is UK instead of GB for United Kingdom.",
                "nullable": true,
                "example": "USA"
              },
              "lastName2": {
                "type": "string",
                "description": "Additional last name of the employee.",
                "nullable": true,
                "example": "Dodgson"
              },
              "workerCategory": {
                "type": "string",
                "description": "Determines if an employee is paid via Paycor’s payroll system or unpaid.\nOptions:\nPaid: Default value if left empty or invalid.\nUnpaid: Only if the client has the “Unpaid Worker” service enabled. Defaults to “Paid” if the service is not enabled.\nChoose “Unpaid” for third-party paid or volunteer positions with no salary information.",
                "nullable": true
              }
            }
          }
        ]
      },
      "EmployeePositionData": {
        "type": "object",
        "description": "The Employee Position Data model represents the Employee's Position related data.",
        "additionalProperties": false,
        "properties": {
          "jobTitle": {
            "type": "string",
            "description": "Name of the employee's job title.\n            ",
            "nullable": true,
            "example": "Software Engineer"
          },
          "jobCode": {
            "type": "string",
            "description": "Code of the employee's job.\n            ",
            "nullable": true,
            "example": "P2"
          },
          "effectiveEndDate": {
            "type": "string",
            "description": "Date the employee position data is no longer in effect. This property will not return values for Active employees\nFormat: YYYY-MM-DDTHH:MM:SSZ  (ISO-8601 standard)\n            ",
            "format": "date-time",
            "nullable": true,
            "example": "2020-11-01T00:00:00Z"
          },
          "departmentEffectiveDate": {
            "type": "string",
            "description": "Date the employee's current department assignment took effect. \nFormat= YYYY-MM-DDTHH=MM=SSZ (ISO-8601 standard, UTC).",
            "format": "date-time",
            "nullable": true,
            "example": "2026-04-13T00:00:00Z"
          },
          "payGroupId": {
            "type": "string",
            "description": "Unique identifier of the pay group in Paycor's system. Generated by Paycor.",
            "format": "guid",
            "example": "52a2s23-0000-0000-0000-0007d0009840"
          },
          "manager": {
            "description": "Employee's Manager's data of type Manager.\n            ",
            "nullable": true,
            "$ref": "#/components/schemas/Manager"
          }
        }
      },
      "Manager": {
        "type": "object",
        "description": "The Manager model represents information about the Employee's Manager.\nProvides link to the Manager's Employee level information.\n            ",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the manager in Paycor's system. Generated by Paycor.",
            "format": "guid",
            "example": "52a2s23-0000-0000-0000-0007d0009840"
          },
          "employeeNumber": {
            "type": "string",
            "description": "Employee number of the employee's manager.\n            ",
            "nullable": true,
            "example": 234444
          },
          "employee": {
            "description": "URL to access the Employee resource for additional information about the employee's manager.\n            ",
            "nullable": true,
            "example": "/v1/employees/26413223-196c-0000-0000-0007d54d9839",
            "$ref": "#/components/schemas/ResourceReference"
          }
        }
      },
      "ResourceReference": {
        "type": "object",
        "description": "The Resource Reference model is used to provide URL links to resources.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the resource being referenced. This is generated by Paycor.",
            "nullable": true,
            "example": "d63759d5-40cc-4ec2-98df-772342f1b974"
          },
          "url": {
            "type": "string",
            "description": "URL to reach the resource being referenced",
            "nullable": true,
            "example": "v1/myresources/resource?resourceID=d63759d5-40cc-4ec2-98df-772342f1b974"
          }
        }
      },
      "EmployeeBase": {
        "type": "object",
        "description": "The Employee model represents all Employee related information.\n Provides links to the Employee's associated Person, Legal Entity, Department, Earning, Deduction, Tax, Direct Deposit, Pay Rate and Custom Field information.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the employee in Paycor's system. Generated by Paycor.",
            "format": "guid",
            "example": "df5566ef-196c-0000-0000-0007d5268Sa2"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the employee.",
            "nullable": true,
            "example": "Charles"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the employee.",
            "nullable": true,
            "example": "Lutwidge"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the employee.",
            "nullable": true,
            "example": "Dodgson"
          },
          "email": {
            "description": "Email Information of an employee.\n            ",
            "nullable": true,
[...]
