{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Paycor Public API v1",
    "version": "",
    "description": "\nWelcome to Paycor's Public API! This document is a reference for the APIs Paycor has available, and acts as a complement to the \"Guides\" section.\n\n# Getting Started\n\n<strong>To learn more about getting started with Paycor's Public APIs, check out our <a href=\"/guides\">Guides.</a></strong>\n\n# GET, PUT, POST, PATCH\n\n* When requesting object, use GET endpoints. All list endpoints support paging, as described [in the other doc].\n* When creating an object, use POST endpoints. Your code will need to create an object and send it to Paycor in your API call request body as JSON. You can use the \"request sample\" body as a starting point. Our endpoints will return a reference to the created object (the ID and GET API URL) for your system.\n* When updating an object, you will use PUT endpoints. The general flow would be to: GET the object you want to update, modify the fields as desired, then PUT the object (as JSON in the request body) to our endpoints. Some fields like the object's ID cannot be updated because they are system-set.\n* PATCH - partial update to existing resource\n\n  # Error Handling\n\n* 202 - Response to a successful request that has been received and accepted for processing, but processing has not yet been completed\n* 400: Please consult the response text to correct your request information.\n* 401 with response \"Access denied due to missing subscription key\": Please include your APIM Subscription Key as header Ocp-Apim-Subscription-Key or querystring parameter subscription-key. \n* 401 with no response: Please ensure you included a valid & current Access Token in the Authorization header.\n* 403: Please ensure your Access Token's scope has all the relevant access you need, on the AppCreator Data Access screen.\n* 404: Please validate the API route you are using. If that is correct, one of your IDs most likely does not exist or is not in a valid state.\n* 429: Paycor implements rate limits for our Public API. Each customer (implemented via APIM subscription key) has a limited number of calls. The number of calls is counted across all APIs, not per individual API. Please use bulk endpoints where available and spread your calls over a wider timespan.\n  * The default rate limit is up to 1000 API calls per minute (total across all our Public APIs).\n* 500: Please contact Paycor. When you make a POST or PUT call and receive a 500, please do not retry the call automatically - this may result in double-posting. GETs can be safely retried.\n\n\n# IDs\n\n* ClientId = LegalEntityId\n* TenantId = CompanyId\n* EmployeeId is not visible in Paycor's UI, you must retrieve it from the Public API\n\n# Earnings, Deductions, Taxes\n\nThis section describes the domain model for Paycor's Earnings, Deductions, and Taxes. This will provide background for many paydata-related Public API endpoints.\n\nPaycor stores Earnings, Deductions, and Taxes each at three levels:\n* Global: Same data across all legal entities. Setup by Paycor for customers to choose from. Sample Codes (note these will not be setup on every Legal Entity):\n  * Earnings: REG, OT\n  * Taxes: FITWH, SOC, SOCER, OHCIN\n  * Deductions: 401k, KMat, H125, UWay\n* Legal Entity or Tenant: Codes setup & customized on the legal entity or Tenant level. Must be tied to a Global Code..\n  * Perform UI allows creating Deduction and Earning codes on Tenant level (under Configure Company nav menu). These will be returned by the Legal Entity Public API endpoints. \n* Employee: codes setup on a particular employee, tied to a Legal Entity-level or Tenant-level code\n  * Employee Earnings/Deductions/Taxes are applied during payroll. Many properties are inherited from the Legal Entity or Global levels, but some can be overridden. \n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://apis.paycor.com"
    }
  ],
  "paths": {
    "/v1/legalEntities/{legalEntityId}/ats/{atsAccountId}/jobs": {
      "get": {
        "tags": [
          "Applicant Tracking System"
        ],
        "summary": "Get a list of ATS Account jobs for ATS Account Id",
        "description": "Data Access: View ATS Account jobs by ATS Account ID",
        "operationId": "GET ATS Account jobs by ATS Account ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Paycor Legal Entity ID of the legal entity for which you want to get the ATS account jobs",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "atsAccountId",
            "in": "path",
            "required": true,
            "description": "ATS account ID of for which you want to get the ATS account jobs",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: All, Hiring managers, Recruiters, Team members, Executives",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes"
              }
            },
            "x-position": 3
          },
          {
            "name": "postedToCareers",
            "in": "query",
            "description": "Option to filter jobs based on if they are posted to the careers page",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "status",
            "in": "query",
            "description": "Option to filter jobs by status",
            "schema": {
              "nullable": true,
              "$ref": "#/components/schemas/JobStatus"
            },
            "x-position": 5
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of ATS Account jobs for ATS Account Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfJob"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalEntities/{legalEntityId}/ats/{atsAccountId}/jobs/{atsJobId}": {
      "get": {
        "tags": [
          "Applicant Tracking System"
        ],
        "summary": "Get an ATS Account Job for ATS Account Id",
        "description": "Data Access: View ATS Account Job by ATS Job Id",
        "operationId": "GET ATS Account Job by ATS Account ID and ATS Job ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Paycor Legal Entity ID of the legal entity for which you want to get the ATS account job",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "atsAccountId",
            "in": "path",
            "required": true,
            "description": "ATS account ID of for which you want to get the ATS account job",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "atsJobId",
            "in": "path",
            "required": true,
            "description": "ATS Job ID",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: All, Hiring managers, Recruiters, Team members, Executives",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes2"
              }
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an Account job for an ATS Account Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalEntities/{legalEntityId}/ats/accounts": {
      "get": {
        "tags": [
          "Applicant Tracking System"
        ],
        "summary": "Get a list of ATS Accounts for Legal Entity",
        "description": "Data Access: View ATS Accounts By Legal Entity Id",
        "operationId": "GET a list of ATS Accounts by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Paycor Legal Entity ID of the legal entity for which you want to get the ATS accounts",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of ATS Accounts for Legal Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfATSAccount"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalEntities/{legalEntityId}/ats/{atsAccountId}/jobs/{atsJobId}/candidates": {
      "get": {
        "tags": [
          "Applicant Tracking System"
        ],
        "summary": "Get a list of ATS Candidates for Job",
        "description": "Data Access: View ATS Candidates By Job Id",
        "operationId": "GET a list of ATS Candidate for a Job ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Paycor Legal Entity ID of the legal entity for which you want to get the ATS Candidates",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "atsAccountId",
            "in": "path",
            "required": true,
            "description": "ATS Account ID for which you want to get the ATS Candidates",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "atsJobId",
            "in": "path",
            "required": true,
            "description": "ATS Job ID for which you want to get the ATS Candidates",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "createdOrModifiedStartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "createdOrModifiedEndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of ATS Candidates for a Job Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfAtsCandidate"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalEntities/{legalEntityId}/ats/{atsAccountId}/jobs/{atsJobId}/candidates/{atsCandidateId}": {
      "get": {
        "tags": [
          "Applicant Tracking System"
        ],
        "summary": "GET an ATS Candidate by Legal Entity ID, Ats Account ID, ATS Job ID and ATS Candidate ID",
        "description": "Data Access: View ATS Candidate by Candidate Id",
        "operationId": "GET a ATS Candidate by Legal Entity ID, Ats Account ID, ATS Job ID and ATS Candidate ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Paycor Legal Entity ID of the legal entity for which you want to get the ATS Candidate",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "atsAccountId",
            "in": "path",
            "required": true,
            "description": "ATS account ID of for which you want to get the ATS Candidate",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "atsJobId",
            "in": "path",
            "required": true,
            "description": "ATS Job ID of for which you want to get the ATS Candidate",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "atsCandidateId",
            "in": "path",
            "required": true,
            "description": "ATS Candidate ID",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Returns ATS Candidate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtsCandidate"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalEntities/{legalEntityId}/ats/candidates": {
      "post": {
        "tags": [
          "Applicant Tracking System"
        ],
        "summary": "POST an ATS Candidate by Legal Entity ID",
        "description": "Data Access: Create ATS Candidate",
        "operationId": "POST ATS Candidate by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Paycor Legal Entity ID of the legal entity for which you want to create the ATS Candidate",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "createCandidateCdm",
          "description": "Create ATS Candidate model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Candidate"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Returns a CreateOrUpdateResponse object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/BusinessEntityManager/legalentities/{legalEntityId}/PayrollCustomFieldsValues": {
      "post": {
        "tags": [
          "Business Entity"
        ],
        "summary": "Upsert Payroll Business Entity Custom Field Values",
        "description": "Data Access= Create Or Update Legal Entity Custom field values",
        "operationId": "Upsert Business Entity Custom Field Values",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "tenantId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "payrollCustomField",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayrollCustomFieldValuesRequest"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollCustomFieldsData"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Business Entity"
        ],
        "summary": "Get Payroll Business Entity Custom Field Values By Legal Entity",
        "description": "Data Access= Get Payroll Business Entity Custom Field Values By Legal Entity",
        "operationId": "Get Business Entity Custom Field Values By Entity",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "tenantId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollCustomFieldResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/BusinessEntityManager/legalentities/{legalEntityId}/PayrollCustomFieldsValues/{entityTypeId}": {
      "get": {
        "tags": [
          "Business Entity"
        ],
        "summary": "Get Payroll Business Entity Custom Field Values By Entity Type Id",
        "description": "Data Access= Get Payroll Business Entity Custom Field Values By Entity Type Id",
        "operationId": "Get Business Entity Custom Field Values By Entity Type Id",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "entityTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "tenantId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollCustomFieldResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/{tenantId}/upsertcompanyplans": {
      "post": {
        "tags": [
          "Company Plans"
        ],
        "summary": "Upsert Company Plans",
        "description": "Data Access= Add Company Plans",
        "operationId": "Upsert Company Plans",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "companyHrPlan",
          "description": "Company's plans object to insert",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyHRPlan"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/emergencycontact": {
      "post": {
        "tags": [
          "Employee Emergency Contact"
        ],
        "description": "Either Home Phone, Work Phone or Mobile Phone must be specified\n\nData Access: Create Emergency Contact",
        "operationId": "Post Emergency Contact by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "emergencyContactPost",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/BenefitClassification": {
      "get": {
        "tags": [
          "Employee Benefit Classification"
        ],
        "summary": "Get Employee Benefit Classification by EmployeeID",
        "description": "Data Access= View Employee Benefit Classification By Employee Id",
        "operationId": "Get Employee Benefit Classification by Employee ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for whom you want to get Benefit Classification ",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Benefit Classification data based on EmployeeID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeBenefit"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/certifications": {
      "get": {
        "tags": [
          "Employee Certifications"
        ],
        "summary": "Get a list of Employee Certifications for an employee",
        "description": "Data Access: View Certification Information for Employee",
        "operationId": "Get Certification for an Employee",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the employee for which you want to get the certifications",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Employee Certifications for an employee",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeCertification"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Certifications"
        ],
        "summary": "Update Employee Certification",
        "description": "Data Access: Create and Update Certification",
        "operationId": "Update Employee Certification",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the employee for which you want to update the certifications",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "certification",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeCertification2"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Returns a resource reference for employee certifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee Certifications"
        ],
        "summary": "Add Employee Certification",
        "description": "Data Access: Create and Update Certification",
        "operationId": "Add Employee Certification by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to add the certification",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "certification",
          "description": "Certification object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Certification"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/customfields": {
      "get": {
        "tags": [
          "Employee Custom Fields"
        ],
        "summary": "Get Employee Custom Fields by EmployeeID",
        "description": "Data Access: View Employee Custom Fields",
        "operationId": "Get Employee CustomFields by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the employee for whom you want to get the custom fields",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of employee custom fields",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of employee custom fields based on EmployeeID provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeCustomField"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Custom Fields"
        ],
        "summary": "Update Custom Field by EmployeeID",
        "description": "Data Access: Update Employee Custom Fields",
        "operationId": "Update Employee CustomFields by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to update the custom field",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "customFields",
          "description": "CustomFields object",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "xml": {
                  "name": "ArrayOfEmployeeCustomField",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "EmployeeCustomField"
                  },
                  "$ref": "#/components/schemas/EmployeeCustomField2"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/deductions/{employeeDeductionId}": {
      "get": {
        "tags": [
          "Employee Deductions"
        ],
        "summary": "Get Employee Deduction by EmployeeID and EmployeeDeductionID",
        "description": "Data Access: View Employee Deduction Information",
        "operationId": "Get Employee Deduction by EmployeeID and ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to get the deduction.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "employeeDeductionId",
            "in": "path",
            "required": true,
            "description": "ID of the Employee Deduction you want to get.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: All, AmountData\n            \nData Access required\n            \nAmountData = View Employee Deduction Amounts",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes3"
              }
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an Employee Deduction based on the EmployeeID and DeductionID provided. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDeduction"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/deductions": {
      "get": {
        "tags": [
          "Employee Deductions"
        ],
        "summary": "Get Employee Deductions by EmployeeID",
        "description": "Data Access: View Employee Deductions Information",
        "operationId": "Get Employee Deductions by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the employee for whom you want to get the deductions",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: All, AmountData\n            \nData Access required\n            \nAmountData = View Employee Deductions Amounts",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes4"
              }
            },
            "x-position": 2
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of employee earnings",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of employee deductions based on EmployeeID provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeDeduction"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee Deductions"
        ],
        "summary": "Add Deduction to Employee",
        "description": "Tip: first call \"Get Legal Entity Deductions by Legal Entity ID\" to get the valid Deduction Codes\n            \nData Access: Add Employee Deduction",
        "operationId": "Add Deduction to Employee",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to add the deduction",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeDeduction",
          "description": "EmployeeDeduction object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDeduction2"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "ArrayOfCreateOrUpdateResponse",
                    "wrapped": true
                  },
                  "items": {
                    "xml": {
                      "name": "CreateOrUpdateResponse"
                    },
                    "$ref": "#/components/schemas/CreateOrUpdateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Deductions"
        ],
        "summary": "Update Employee Deduction by EmployeeID",
        "description": "Data Access: Update Employee Deduction",
        "operationId": "Update Employee Deduction by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee that has the Deduction you wish to update",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeDeduction",
          "description": "EmployeeDeduction with ID set and fields updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDeduction3"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/HSAaccounts": {
      "get": {
        "tags": [
          "Employee Direct Deposits"
        ],
        "summary": "Get Employee HSA Direct Deposits by EmployeeID",
        "description": "Data Access: View Employee HSA Account Information",
        "operationId": "Get Employee HSA Direct Deposits by Employee ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for whom you want to get HSA Direct Deposits",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of HSA Direct Deposits",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns HSA Direct Deposits based on EmployeeID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeDirectDeposit"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee Direct Deposits"
        ],
        "summary": "Add Employee HSA Direct Deposits by EmployeeID",
        "description": "Data Access: Add Employee HSA Account",
        "operationId": "Add Employee HSA Direct Deposit by Employee ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for which you want to add HSA Direct Deposits",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeDirectDeposit",
          "description": "HSA Direct Deposit object to insert",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeHsaDirectDeposit"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Direct Deposits"
        ],
        "summary": "Update Employee HSA Direct Deposits by EmployeeID",
        "description": "Data Access: Update Employee HSA Account Information",
        "operationId": "Update Employee HSA Direct Deposit by Employee ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for which you want to update HSA Direct Deposits",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeDirectDeposit",
          "description": "HSA Employee Direct Deposit object with updated fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeHsaDirectDeposit2"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/DirectDeposits": {
      "post": {
        "tags": [
          "Employee Direct Deposits"
        ],
        "summary": "Add Employee Direct Deposits by EmployeeID",
        "description": "Data Access: Add Employee Direct Deposit",
        "operationId": "Add Employee Direct Deposit by Employee ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "Id of employee for which you want to add Direct Deposits",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeDirectDeposit",
          "description": "Direct Deposit object to insert",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDirectDeposit2"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Employee Direct Deposits"
        ],
        "summary": "Get Employee Direct Deposits by EmployeeID",
        "description": "Data Access: View Employee Direct Deposit Information by Employee Id",
        "operationId": "Get Employee Direct Deposits by Employee ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for which you want to get Direct Deposits",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of direct deposits",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Direct Deposits based on EmployeeID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeDirectDeposit"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Direct Deposits"
        ],
        "summary": "Update Employee Direct Deposits by EmployeeID",
        "description": "Data Access: Update Employee Direct Deposit Information",
        "operationId": "Update Employee Direct Deposit by Employee ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for which you want to update Direct Deposit",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeDirectDeposit",
          "description": "Employee Direct Deposit object with updated fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDirectDeposit3"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/DirectDeposits/{directDepositId}": {
      "get": {
        "tags": [
          "Employee Direct Deposits"
        ],
        "summary": "Get Employee Direct Deposit by EmployeeID and DirectDepositID",
        "description": "Data Access: View Employee Direct Deposit Information by Direct Deposit Id\n\nOptional Data Access: Include Unmasked Direct Deposit Account Number",
        "operationId": "Get Employee Direct Deposit by Employee ID and Direct Deposit ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for which you want to get Direct Deposits",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "directDepositId",
            "in": "path",
            "required": true,
            "description": "ID of an employee direct deposit which you want to retrieve",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "includeUnmaskedAccountNumber",
            "in": "query",
            "description": "Option to unmask account number if set to true.\n            ",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Direct Deposits based on EmployeeID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDirectDeposit"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/paystubDocumentData": {
      "get": {
        "tags": [
          "Employee Documents"
        ],
        "summary": "Get Employee Pay Stubs document link by EmployeeID",
        "description": "Start Date and End Date are required parameters.\n            \nData Access: Get Employee Pay Stub Document Link",
        "operationId": "Get Employee Pay Stubs document link by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to get the Pay Stubs Document Link",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date that is earlier or equal to paycheck date",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date that is after or equal to paycheck date",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of Employee Pay Stubs Document Links",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Employee Pay Stubs document link based on EmployeeID and date provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPayStubFile"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/PayStubDocument/{documentId}": {
      "get": {
        "tags": [
          "Employee Documents"
        ],
        "summary": "Download Employee Pay Stub Document",
        "description": "Data Access: Download Employee Pay Stub Document",
        "operationId": "GET Download Employee Pay Stub Document",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "Id of an Employee for whom you want to get the Pay Stub Document",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Id of Pay Stub Document",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Pay Stub Document that can be downloaded",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/earnings/{employeeEarningId}": {
      "get": {
        "tags": [
          "Employee Earnings"
        ],
        "summary": "Get Employee Earning by EmployeeID and EmployeeEarningID",
        "description": "Data Access: View Employee Earning Information",
        "operationId": "Get Employee Earning by EmployeeID and EmployeeEarningID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to get the Earning",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "employeeEarningId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee Earning you want to get",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: All, AmountData\n\nData Access required\n\nAmountData = View Employee Earning Amounts",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes5"
              }
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an Employee Earning based on the EmployeeID and EmployeeEarningID provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeEarning"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/earnings": {
      "get": {
        "tags": [
          "Employee Earnings"
        ],
        "summary": "Get Employee Earnings by EmployeeID",
        "description": "Data Access: View Employee Earnings Information",
        "operationId": "Get Employee Earnings by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to get the Earnings",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: All, AmountData\n\nData Access required\n\nAmountData = View Employee Earnings Amounts",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes6"
              }
            },
            "x-position": 2
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of Employee Earnings",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of Employee Earnings based on EmployeeID provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeEarning"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee Earnings"
        ],
        "summary": "Add Earning to Employee",
        "description": "Data Access: Add Employee Earning",
        "operationId": "Add Earning to Employee",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to add an Earning",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeEarning",
          "description": "Employee Earning object to insert",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeEarning2"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Earnings"
        ],
        "summary": "Update Employee Earning",
        "description": "Data Access: Update Employee Earning",
        "operationId": "Update Employee Earning",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee that has the Earning you wish to update",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeEarning",
          "description": "Employee Earning object with updated fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeEarning3"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/payrollhours": {
      "post": {
        "tags": [
          "Employee Payroll Hours"
        ],
        "summary": "Add Employee Hours And Earnings To Paygrid",
        "description": "Required parameters in body are: IntegrationVendor, ProcessId, LegalEntityId, EmployeeNumber, DepartmentCode, EarningCode, BusinessStartDate\n            \nData Access: Import Employee Hours and Earnings to Paygrid",
        "operationId": "Add Employee Hours And Earnings To Paygrid",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to set employee hours and earnings",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "replaceData",
            "in": "query",
            "description": "If \"True\" is passed for this query parameter and a matching ProcessID is passed, then the system will fully replace the entire record that was previously added.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          },
          {
            "name": "appendData",
            "in": "query",
            "description": "If \"True\" is passed for this query parameter, then the system will NOT replace any record that was previously added.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 4
          }
        ],
        "requestBody": {
          "x-name": "importPayrollHours",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPayrollHours"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/payrollhours": {
      "post": {
        "tags": [
          "Employee Payroll Hours"
[...]
